body{
    text-align: center;
    background-image: url("/images/Background.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}
* {
    box-sizing: border-box;
}
  .gallery{
    display: flex;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
  }
  .gallery a{
    margin: 2%;
  }
  div.galleryImage :hover{
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}
.galleryImage{
    display: inline;
    background-color:white;
    padding: 0 6px;
    margin: 2%;
    width: 100%;
}
.galleryImage img{
    background-size: cover;
    height: 150px;
    width: 70%;
    padding: 6px;
}

.listmenu{
    background-color: black;
    border: solid 5px blue;
    overflow: hidden;
    display: flex;
    float: left;
    height: 500px;
    padding: 15px 10px;
}
.listmenu a{
    color: orange;
    padding: 15px 15px;
    text-decoration: none;
    font-size: 20px;
    margin: 10px 10px 10px 20px;
}
.navigator h1{
    display: inline;
    border: solid 2px red;
    padding: 6px 150px;
    margin: auto;
    text-align: left;
    float: left;
    
}
.navigator{
    background-color: black;
    color: wheat;
    overflow: hidden;

}
.navigator a{
    float: left;
    color: orange;
    text-align: center;
    padding: 15px 20px;
    text-decoration: none;
    font-size: 20px;
}
.navigator a:hover{
    background-color:chocolate;
    color: black;
}
.navigator a.active{
    background-color: rgb(241, 36, 9);
    color: black;
}
.navigator input[type=text]{
    float: right;
    padding: 6px;
    border: none;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 17px;
}